.fondoLogin{
    background: cadetblue;
    background-image: url(../../../assets/imgs/avivaClini.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.loginSector{
    margin-top:30vh;
}