<ion-header>
  <ion-toolbar color="blanco">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Bienvenida {{nombre}} </ion-title>
    <ion-buttons slot="secondary">
      <!-- <ion-button icon-only [routerLink]="'/home'">
          <ion-icon name="home"></ion-icon>
        </ion-button> -->
      <ion-button icon-only (click)="openBadges($event)">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-badge item-end *ngIf="badge > 0">{{badge}}</ion-badge>
      </ion-button>
      <ion-button icon-only [routerLink]="'/qa'">
        <ion-icon name="bookmarks"></ion-icon>
      </ion-button>
      <!-- <ion-button icon-only [routerLink]="'/todo'">
        <ion-icon name="briefcase"></ion-icon>
      </ion-button> -->
      <ion-avatar (click)="openPopoverDataCoach($event)">
        <img src="http://lorempixel.com/200/200" alt="" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <!-- aqui se muestran los mensajes de el usuario seleccionado -->
      <ion-col offset="2" size="8" class="altofijo">
        <div *ngIf="conversacion ">
          <ion-row *ngFor="let mensaje of conversacion.messages; let i = index">
            <ion-col
              size="6"
              *ngIf="currentUser !== mensaje.user"
              class="message other-message"
            >
              <b>{{mensaje.user}}</b> <br />
              <span>{{mensaje.content}}</span>
              <div class="time" class="ion-text-right">
                {{mensaje.date.toDate() | date:'short'}}
              </div>
            </ion-col>
            <ion-col
              offset="6"
              size="6"
              *ngIf="currentUser === mensaje.user"
              class="message my-message"
            >
              <b>{{mensaje.user}}</b> <br />
              <span>{{mensaje.content}}</span>
              <div class="time" class="ion-text-right">
                {{mensaje.date.toDate() | date:'short'}}
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <!-- aqui se muestras las opciones para cada usuario del chat -->
      <ion-col size="2" class="barraIconos">
        <ion-row>
          <ion-col size="12" class="containerDataPatient"> </ion-col>
          <ion-col size="12">
            <ion-chip color="tertiary" (click)="openPopoverDatos($event)">
              <ion-icon name="journal" color="tertiary"></ion-icon>
              <ion-label color="tertiary">ver datos </ion-label>
              <ion-icon name="send"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col size="12">
            <ion-chip color="tertiary" (click)="seeNotes($event)">
              <ion-icon color="tertiary" name="more"></ion-icon>
              <ion-label color="tertiary">ver notas</ion-label>
              <ion-icon name="add-circle"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col size="12">
            <ion-chip (click)="seeDays($event)">
              <ion-icon name="more"></ion-icon>
              <ion-label>ver encuentros</ion-label>
              <ion-icon name="add-circle"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col size="12">
            <ion-chip>
              <ion-icon name="image"></ion-icon>
              <ion-label>agregar foto</ion-label>
              <ion-icon name="add-circle"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col size="12">
            <ion-chip>
              <ion-icon name="stopwatch"></ion-icon>
              <ion-label>crear alerta</ion-label>
              <ion-icon name="add-circle"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- esta sección es para mostrar a los usuarios y los datos de los usuarios -->
      <ion-col size="2" class="containerNameUsers">
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <!-- <h5 class="mamas">Lista de Mamás</h5> -->
              <ion-searchbar
                class="search"
                debounce="500"
                placeholder="buscar aviver"
                showcancelbutton=""
                (change)="filterList($event)"
              >
              </ion-searchbar>
              <ion-list>
                <ion-item class="nombreAviver"
                  *ngFor="let chat of goalList"
                  (click)="obtenerConversacion(chat)">
                  <ion-avatar slot="start">
                    <img
                      src="https://image.freepik.com/vector-gratis/perfil-avatar-mujer-icono-redondo_24640-14042.jpg"
                    />
                  </ion-avatar>
                  <ion-label >{{chat.name}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-list>
          </ion-col>
          <ion-col size="12" *ngIf="chat">
            <mat-accordion> </mat-accordion>
          </ion-col>
        </ion-row>
        <!--     boton para actualizar las notas -->
      </ion-col>
    </ion-row>
    <!-- botón para crear las notas para cada usuario -->
    <ion-fab>
      <ion-fab-button
        color="secondary"
        (click)="showModal($event, chat)"
        vertical="bottom"
        horizontal="end"
        position="fixed"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-grid>
</ion-content>

<!-- Inicio del footer y botón de mensaje -->
<ion-footer class="padding">
  <ion-toolbar color="primary">
    <ion-row class="align-items-center no-padding">
      <ion-col offset="2" size="8">
        <textarea
          autosize
          maxRows="4"
          [(ngModel)]="msg"
          class="message-input"
        ></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button
          expand="block"
          fill="clear"
          color="primary"
          [disabled]="msg == ''"
          class="mag-btn"
          (click)="sendMessage()"
        >
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
