h3{
    text-align: center;
    color:#3796F6;
}
.imagenNota{
    width:150px;
    height: auto;
}
.containerImage{
    text-align: center;
}
.contenedorTextArea{
    border:2px solid #3796F6!important;
}
.guardar{
    color:#fff;
}
.nombreNota{
    text-align:center;
    font-size:1em;
    color:grey;
    font-weight:400;
    margin-top:-10px;
}